@model ClientRequest
@{
    ViewData["Title"] = " تفاصيل";
}

@Model.Client.FullName


<div class="card border-success ">
    <div class="card-body p-0">
        
        <div class="row">
            <div class="col-6">
                <div class="col-md-8 px-5 py-4 d-flex flex-column justify-content-between">
                    <div>
                        <h1 class="fs-5">تاريخ الطلب:@Model.RequestDate</h1>
                        <h1 class="text-success fw-bolder">@Model.Service.ServiceName</h1>
                        <span class="badge bg-info fs-5 mb-4">@Model.ServiceDetails.ServiceFeatures</span>
                        <p class="fs-5">@Model.Description</p>
                    </div>

                </div>
            </div>
           
        </div>
    </div>
</div>

